<form [formGroup]="editForm" (ngSubmit)="onClickSubmit()">
  <div *ngIf="errorMsg" class="alert alert-danger">
    {{ errorMsg }}
  </div>

  <div *ngFor="let t of tab" class="row">
    <label>{{ "form." + t | transloco }} *</label>

    <div
      *ngIf="
        (editForm.controls[t].dirty || editForm.controls[t].touched) &&
        editForm.controls[t].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <input type="text" [formControlName]="t" />
  </div>

  <div *ngFor="let t of tabSelect" class="row">
    <label>{{ "form." + t.name | transloco }} *</label>

    <div
      *ngIf="
        (editForm.controls[t.name].dirty ||
          editForm.controls[t.name].touched) &&
        editForm.controls[t.name].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <select
      [formControlName]="t.name"
      #s
      (change)="getZoneForCustomerId(s.value, t.name)"
    >
      <option value="" selected>Choisir</option>
      <option *ngFor="let cell of t.key" [value]="cell.id ? cell.id : cell">
        {{ cell.name ? cell.name : cell }}
      </option>
    </select>
  </div>

  <fieldset>
    <legend>Voiture</legend>
    <div *ngFor="let t of tabCar" class="row">
      <label>{{ "form." + t | transloco }} </label>

      <input type="text" [formControlName]="t" />
    </div>
    <div class="row" *ngIf="device?.imgPath">
      <label>{{ "form.img" | transloco }}</label>

      <img
        [src]="device.imgPath"
        style="max-width: 100%; max-height: 300px"
        alt=""
      />
    </div>
    <div class="row">
      <label>{{ "form.img" | transloco }}</label>

      <input
        type="file"
        id="imgFile"
        (change)="onFileSelected($event)"
        class="btn input-file"
      />
    </div>
  </fieldset>
</form>
<form>
  <div class="row submit">
    <button *transloco="let t" routerLink="/devices" class="btn cancel">
      {{ t("btn.cancel") }}
    </button>
    <form [formGroup]="editForm" (ngSubmit)="onClickSubmit()">
      <button
        type="submit"
        *transloco="let t"
        [disabled]="editForm.invalid"
        class="btn validate"
      >
        {{ t("btn.validate") }}
      </button>
    </form>
  </div>
</form>
