<form [formGroup]="addForm" (ngSubmit)="onClickSubmit()">
  <div *ngIf="errorMsg" class="alert alert-danger">
    {{ errorMsg }}
  </div>

  <div class="row">
    <label>{{ "form.client" | transloco }} *</label>

    <div
      *ngIf="
        (addForm.controls['client'].dirty ||
          addForm.controls['client'].touched) &&
        addForm.controls['client'].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <select [formControlName]="'client'">
      <option value="" selected></option>
      <option *ngFor="let cell of customers" [value]="cell.id ? cell.id : cell">
        {{ cell.name ? cell.name : cell }}
      </option>
    </select>
  </div>

  <div class="row">
    <label>{{ "form.zone" | transloco }} *</label>

    <div
      *ngIf="
        (addForm.controls['zone'].dirty || addForm.controls['zone'].touched) &&
        addForm.controls['zone'].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <input [type]="'text'" [formControlName]="'zone'" />
  </div>

  <div *ngIf="page == 'converters'" class="row">
    <label>{{ "form.option" | transloco }} *</label>

    <div
      *ngIf="
        (addForm.controls['option'].dirty ||
          addForm.controls['option'].touched) &&
        addForm.controls['option'].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <select [formControlName]="'option'">
      <option value="" selected></option>
      <option
        *ngFor="
          let cell of ['Option 1 (sans alarme)', 'Option 2 (avec alarme)'];index as i
        "
        [value]="i+1"
      >
        {{ cell }}
      </option>
    </select>
  </div>

  <div class="row">
    <label>{{ "form.idCG" | transloco }} *</label>

    <div
      *ngIf="
        (addForm.controls['idCG'].dirty || addForm.controls['idCG'].touched) &&
        addForm.controls['idCG'].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <input [type]="'text'" [formControlName]="'idCG'" />
  </div>
</form>

<form>
  <div class="row submit">
    <button *transloco="let t"  routerLink="/zone/{{page}}" class="btn cancel">
      {{ t("btn.cancel") }}
    </button>
    <form [formGroup]="addForm" (ngSubmit)="onClickSubmit()">
      <button
        type="submit"
        *transloco="let t"
        [disabled]="addForm.invalid"
        class="btn validate"
      >
        {{ t("btn.validate") }}
      </button>
    </form>
  </div>
</form>
