<div class="col">
  <div class="row">
    <app-menu />
    <div class="main">
      <div class="bg-top">
        <div class="top">
          <div *transloco="let t"><b>username</b> | {{ t("roles.admin") }}</div>
    
          <select #select (click)="changeLanguage(select.value)">
            <option
              *ngFor="let language of languagesList; index as i"
              [value]="language.code"
            >
              {{ language.shorthand }}
            </option>
          </select>
    
          <button class="btn btn-blue" *transloco="let t">{{ t("deconnexion") }}</button>
        </div>
      </div>
    
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div id="footer">&copy;{{currentTime | date:'Y'}} GigaConcept - v 2.0</div>
  
</div>