<div class="col">
  <div class="bg-top">
    <div class="top">
      <div class="title">
        <img class="img" src="../assets/img/intercepterlogosimple.png" alt="" />
        <h1 class="text-title">
          Intercepter
          <small style="font-size: 16px">BackOffice</small>
        </h1>
      </div>

      <div class="right-top">
        <div *ngIf="isLogged">
          <b> {{ user && user.username ? user.username : "username" }} </b> |
          {{ user && user.role ? ("roles." + user.role | transloco) : "role" }}
        </div>

        <select #select (change)="changeLanguage(select.value)">
          <option [value]="this.userLang.code">
            {{ this.userLang.shorthand }}
          </option>
          <option
            *ngFor="let language of languagesList; index as i"
            [value]="language.code"
          >
            <!-- <img src="{{language.imgUrl}}" alt=""> -->
            {{ language.shorthand }}
          </option>
        </select>

        <button class="btn btn-blue" *ngIf="isLogged" (click)="logout()">
          {{ "deconnexion" | transloco }}
        </button>
      </div>
    </div>
  </div>

  <div class="main">
    <app-menu *ngIf="isLogged" />
    <!-- <app-menu /> -->

    <div class="content">
      <div [ngClass]="isLogged ? '' : 'connect'">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div id="footer">
    &copy;{{ currentTime | date : "Y" }} GigaConcept - v 2.0
  </div>
</div>
