<h2>
  App "Parking Alarm Control Sentinel" (PAC Sentinel)
  <br />
  <small><i>Concessions exclusivement</i></small>
</h2>

<div class="center">
  <div class="round">
    <img class="logo-app" src="./assets/img/unnamed.webp" alt="" />
  </div>
  <div class="row">
    <div class="link">
      <img
        class="logo"
        src="./assets/img/google-play-badge-logo-png-transparent-810x240.png"
        alt=""
      />
      <a class="btn"
        href="https://play.google.com/store/apps/details?id=app.intercepter.gigaconcept"
      >
        Télécharger
      </a>
    </div>

    <div class="link">
      <img class="logo" src="./assets/img/apple-app-store-logo.jpg" alt="" />
      <a class="btn"
        href="https://apps.apple.com/fr/app/parking-alarm-control-sentinel/id1616609424"
      >
        Télécharger
      </a>
    </div>
  </div>
</div>
