<form [formGroup]="addForm" (ngSubmit)="onClickSubmit()">
  <div *ngIf="errorMsg" class="alert alert-danger">
    {{ errorMsg }}
  </div>

  <div *ngFor="let t of tab" class="row">
    <label>{{ "form." + t | transloco }} *</label>

    <div
      *ngIf="
        (addForm.controls[t].dirty || addForm.controls[t].touched) &&
        addForm.controls[t].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <input
      [type]="t == 'password' || t == 'r_password' ? 'password' : 'text'"
      [formControlName]="t"
    />
  </div>

  <div *ngFor="let t of tabSelect" class="row">
    <label>{{ "form." + t.name | transloco }} *</label>

    <div
      *ngIf="
        (addForm.controls[t.name].dirty || addForm.controls[t.name].touched) &&
        addForm.controls[t.name].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <select
      [formControlName]="t.name"
      #s
      (change)="getZoneForCustomerId(s.value, t.name)"
    >
      <option value="" selected></option>
      <option *ngFor="let cell of t.key" [value]="cell.id ? cell.id : cell">
        {{ cell.name ? cell.name : cell }}
      </option>
    </select>
  </div>
</form>
<form>
  <div class="row submit">
    <button *transloco="let t" routerLink="/user-app" class="btn cancel">
      {{ t("btn.cancel") }}
    </button>
    <form [formGroup]="addForm" (ngSubmit)="onClickSubmit()">
      <button
        type="submit"
        *transloco="let t"
        [disabled]="addForm.invalid"
        class="btn validate"
      >
        {{ t("btn.validate") }}
      </button>
    </form>
  </div>
</form>
