<form [formGroup]="editForm" (ngSubmit)="onClickSubmit()">
  <div *ngIf="errorMsg" class="alert alert-danger">
    {{ errorMsg }}
  </div>

  <div class="row">
    <label>{{ "form.name" | transloco }} *</label>

    <div
      *ngIf="
        (editForm.controls['username'].dirty ||
          editForm.controls['username'].touched) &&
        editForm.controls['username'].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <input [type]="'text'" [formControlName]="'username'" />
  </div>

  <div *ngFor="let t of tabSelect" class="row">
    <label>{{ "form." + t.name | transloco }} *</label>

    <div
      *ngIf="
        (editForm.controls[t.name].dirty ||
          editForm.controls[t.name].touched) &&
        editForm.controls[t.name].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <select [formControlName]="t.name" [attr.disabled]="true">
      <option value="" selected></option>
      <option *ngFor="let cell of t.key" [value]="cell">
        {{ cell }}
      </option>
    </select>
  </div>

  
  <div class="row">
    <label for="">Éditer mot de passe *</label>
    <div>
      <input type="radio" name="options" (click)="isEnabled(false)" checked />
      No <input type="radio" name="options" (click)="isEnabled(true)" /> Yes
    </div>
  </div>

  <div class="row">
    <label>{{ "form.password" | transloco }} </label>

    <div
      *ngIf="
        (editForm.controls['password'].dirty ||
          editForm.controls['password'].touched) &&
        editForm.controls['password'].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <input [type]="'password'" [formControlName]="'password'" />
  </div>
  <div class="row">
    <label>{{ "form.r_password " | transloco }} </label>

    <div
      *ngIf="
        (editForm.controls['r_password'].dirty ||
          editForm.controls['r_password'].touched) &&
        editForm.controls['r_password'].invalid
      "
      class="alert alert-danger"
    >
      {{ "error.invalidField" | transloco }}
    </div>

    <input [type]="'password'" [formControlName]="'r_password'" />
  </div>
</form>
